<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. Scikit-Learn

### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|:--------:|
|  Jupyter |
|  RStudio   | 
|  Git   |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

#### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
add = 2+2
add

4

In [3]:
sub = 4-2
sub

2

In [4]:
multi = 3*65
multi

195

### Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integersm

In [5]:
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

### Exercise 10 - Insert a markdown cell to list Objectives
#### Objectives:

* Python
* R
* Git/GitHub
* Jupyter lab/nootbook
* Apache
* IBM Watson

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
  Muhammad Tahir